@using System.Web.Optimization
@using sistem.manajemen.ppic.core

@model sistem.manajemen.ppic.website.Models.TrnHasilProduksiModel
@{
    ViewBag.Title = "Hasil Produksi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>@Model.Tittle</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="@Url.Action("Index", "Home")">Home</a>
                </li>
                <li class="active breadcrumb-item">
                    <a href="@Url.Action("Index", "TrnHasilProduksi")">Hasil Produksi</a>
                </li>
                <li class="active breadcrumb-item">
                    <strong>Details</strong>
                </li>
            </ol>
        </div>
        <div class="col-sm-8">
            <div class="title-action">
                @*<button class="btn btn-success" id="btnSubmit" style="display:none" type="submit">Simpan</button>
                <button class="btn btn-success" onclick="PreSubmit()" type="button">Simpan</button>*@
                <a href="@Url.Action("Index", "TrnHasilProduksi")" class="btn btn-danger">kembali</a>
            </div>
        </div>
    </div>

    <div class="wrapper wrapper-content">
        <div class="alert alert-danger alert-notification" style="display:none">
            Submit error, Silahkan check kembali !
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>Informasi</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="row">
                                    @Html.HiddenFor(model => model.ID)
                                    @Html.HiddenFor(model => model.CREATED_BY)
                                    @Html.HiddenFor(model => model.CREATED_DATE)
                                    @Html.HiddenFor(model => model.TANGGAL)
                                    @Html.HiddenFor(model => model.STATUS)

                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label">No Surat</label>
                                            @Html.TextBoxFor(model => model.NO_SURAT, new { @class = "form-control", @tabindex = "1", @style = "text-transform: uppercase;", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label">Tanggal Produksi<span class="text-red">*</span></label>
                                            <div class="input-group" id="TglProduksi">
                                                @Html.TextBoxFor(model => model.TANGGAL_PRODUKSI, "{0:dd MMM yyyy}", new { @class = "form-control", @tabindex = "2", required = "required", @readonly = "readonly" })
                                                <span class="input-group-addon btn btn-success">
                                                    <i class="fa fa-calendar "></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label">Lokasi Produksi<span class="text-red">*</span></label>
                                            @Html.TextBoxFor(model => model.LOKASI_PRODUKSI, new { @class = "form-control", @tabindex = "3", @style = "text-transform: uppercase;", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label">Shift<span class="text-red">*</span></label>
                                            @Html.DropDownListFor(model => model.SHIFT, Model.ShiftList, "Please Select", new { @class = "form-control", @tabindex = "4", @required = "required", @disabled = "disabled" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ibox-footer">
                        <span style="color:red">
                            *
                        </span>
                        harus diisi
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>Data Barang</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label">Nama Barang<span class="text-red">*</span></label>
                                            @Html.TextBoxFor(model => model.NAMA_BARANG, new { @class = "form-control", @tabindex = "5", @style = "text-transform: uppercase;", @required = "required", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label">Bentuk</label>
                                            @Html.TextBoxFor(model => model.BENTUK, new { @class = "form-control", @tabindex = "6", @style = "text-transform: uppercase;", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label">Kemasan</label>
                                            @Html.TextBoxFor(model => model.KEMASAN, new { @class = "form-control", @tabindex = "7", @style = "text-transform: uppercase;", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label">Zak<span class="text-red">*</span></label>
                                            <div class="input-group">
                                                @Html.TextBoxFor(model => model.ZAK, new { @class = "form-control numeric-int", @tabindex = "8", @required = "required", @readonly = "readonly" })
                                                <div class="input-group-append">
                                                    <span class="input-group-addon">.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label">Kuantum<span class="text-red">*</span></label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-addon">Kg</span>
                                                </div>
                                                @Html.TextBoxFor(model => model.KUANTUM, new { @class = "form-control numeric", @tabindex = "9", @required = "required", @readonly = "readonly" })

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ibox-footer">
                        <span style="color:red">
                            *
                        </span>
                        harus diisi
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox ">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label">Catatan</label>
                                    @Html.TextAreaFor(model => model.CATATAN, new { @class = "form-control", style = "height:200px", @readonly="readonly"})
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="changes">
            @Html.Partial("_ChangesLog")
        </div>

    </div>

@section Styles {
    @Styles.Render("~/plugins/laddaStyles")
    @Styles.Render("~/plugins/easyautocompleteStyle")
    @Styles.Render("~/plugins/datePickerStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/ladda")
    @Scripts.Render("~/plugins/easyautocomplete")
    @Scripts.Render("~/plugins/datePicker")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/autonumeric")

    <script type="text/javascript">
        $(document).ready()
        {
            new AutoNumeric.multiple('.numeric', { unformatOnSubmit: true });
            new AutoNumeric.multiple('.numeric-int', [{ unformatOnSubmit: true }, 'integerPos']);

            var l = $('.ladda-button-submit').ladda();
            l.click(function () {
                // Start loading
                l.ladda('start');
                // Do something in backend and then stop ladda
                // setTimeout() is only for demo purpose
                setTimeout(function () {
                    l.ladda('stop');
                }, 2000)
            });

            InitProduk('@Url.Action("GetProdukList", "TrnHasilProduksi")');
        }

        //SubmitButton
        function PreSubmit(event) {
            var validate = $('#FormCreate').validate({
                errorPlacement: function (error, element) {

                    if (element.parent().attr("class") == "form-group")
                        error.insertAfter(element);
                    else if (element.parent().attr("class") == 'input-group')
                        error.insertAfter(element.parent());
                    else if (element.parent().attr("class").search('easy-autocomplete') >= 0 || element.parent().attr("class") == "row" || element.parent().attr("class") == 'input-group date')
                        error.insertAfter(element.parent());
                    else
                        error.insertAfter(element.parent().parent());
                }
            });

            jQuery.extend(jQuery.validator.messages, {
                required: "Tidak boleh kosong",
                remote: "Please fix this field.",
                email: "Please enter a valid email address.",
                url: "Please enter a valid URL.",
                date: "Please enter a valid date.",
                dateISO: "Please enter a valid date (ISO).",
                number: "Please enter a valid number.",
                digits: "Please enter only digits.",
                creditcard: "Please enter a valid credit card number.",
                equalTo: "Please enter the same value again.",
                accept: "Please enter a value with a valid extension.",
                maxlength: jQuery.validator.format("Please enter no more than {0} characters."),
                minlength: jQuery.validator.format("Please enter at least {0} characters."),
                rangelength: jQuery.validator.format("Please enter a value between {0} and {1} characters long."),
                range: jQuery.validator.format("Please enter a value between {0} and {1}."),
                max: jQuery.validator.format("Please enter a value less than or equal to {0}."),
                min: jQuery.validator.format("Please enter a value greater than or equal to {0}.")
            });
            var isValid = validate.checkForm();
            if (isValid) {
                $('.alert-notification').hide();
                $('#modalSubmit').modal('show');
            }
            else {
                validate.showErrors();
                $('.alert-notification').show();
            }
        }

        function Confirm(event) {
            $("#btnSubmit").trigger('click');
            event.preventDefault();
        }

        //Produk List
        function InitProduk(url) {
            var options = {
                url: url,
                getValue: "DATA",
                template: {
                    type: "description",
                    fields: {
                        description: "DESKRIPSI"
                    }
                },
                list: {
                    match: {
                        enabled: true
                    },
                    sort: {
                        enabled: true
                    },
                    onChooseEvent: function () {
                        GetProduk();
                    }
                }
            };
            $("#NAMA_BARANG").easyAutocomplete(options);
        }
         function GetProduk() {
            var Produk = document.getElementById("NAMA_BARANG").value;
            $.ajax({
                url: '@Url.Action("GetProduk", "TrnHasilProduksi")',
                type: "POST",
                dataType: "JSON",
                data: {Produk: Produk },
                success: function (response) {
                    if (response == "Error")
                    {

                    }
                    if (response != null)
                    {
                        $("#BENTUK").val(response.BENTUK);
                        if (response.BENTUK == "Lain-Lain") {
                            $("#BENTUK").val(response.BENTUK_DESC);
                        }

                        $("#KEMASAN").val(response.KEMASAN);
                        if (response.KEMASAN == "Lain-Lain") {
                            $("#KEMASAN").val(response.KEMASAN_DESC);
                        }
                    }
                },
            });
        }
        $('.date').datepicker({
            format: 'dd-M-yyyy'
        });
    </script>
}
