@using System.Web.Optimization

@model sistem.manajemen.ppic.website.Models.TrnSpbModel
@{
    ViewBag.Title = "Surat Permintaan Barang (SPB)";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>@Model.Tittle</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "Home")">Home</a>
            </li>
            <li class="active breadcrumb-item">
                <a href="@Url.Action("Index", "TrnSpb")">SPB</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>Details</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            <button class="ladda-button ladda-button-print btn btn-success" data-style="zoom-in" onclick="PrintPDF()" type="button">Print PDF</button>
            <a href="@Url.Action("Index", "TrnSpb")" class="btn btn-danger">Kembali</a>
        </div>
    </div>
</div>


<div class="wrapper wrapper-content">
    <div class="alert alert-danger alert-notification" style="display:none">
        Submit error, Silahkan check kembali !
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Informasi</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        @Html.HiddenFor(model => model.ID)
                                        @Html.HiddenFor(model => model.TANGGAL)
                                        @Html.HiddenFor(model => model.CREATED_BY)
                                        @Html.HiddenFor(model => model.CREATED_DATE)
                                        @Html.HiddenFor(model => model.DOKUMEN_PENDUKUNG_FILE)
                                        <label class="control-label">No SPB<span class="text-red">*</span></label>
                                        @Html.TextBoxFor(model => model.NO_SPB, new { @class = "form-control", @tabindex = "1", @style = "text-transform: uppercase;", @required = "required", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label">Sales Representative<span class="text-red">*</span></label>
                                        @Html.TextBoxFor(model => model.SALES, new { @class = "form-control", @tabindex = "2", @style = "text-transform: uppercase;", @required = "required", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label">Wilayah Pemasaran<span class="text-red">*</span></label>
                                        @Html.TextBoxFor(model => model.WILAYAH, new { @class = "form-control", @tabindex = "3", @style = "text-transform: uppercase;", @required = "required", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox-footer">
                    <span style="color:red">
                        *
                    </span>
                    harus diisi
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Produk</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label">Nama Produk<span class="text-red">*</span></label>
                                        @Html.TextBoxFor(model => model.NAMA_PRODUK, new { @class = "form-control", @tabindex = "4", @style = "text-transform: uppercase;", @required = "required", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label">Komposisi Unsur<span class="text-red">*</span></label>
                                        @Html.TextBoxFor(model => model.KOMPOSISI, new { @class = "form-control", @tabindex = "5", @style = "text-transform: uppercase;", @required = "required", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label">Bentuk<span class="text-red">*</span></label>
                                        <div class="row">
                                            <div class="col-lg-4 col-md-4 col-sm-4">
                                                @Html.DropDownListFor(model => model.BENTUK, Model.BentukList, "Please Select", new { @class = "form-control", @tabindex = "6", @required = "required", onchange = " initilize()", @disabled = "disabled" })
                                            </div>
                                            <div class="col-lg-8 col-md-8 col-sm-8">
                                                @Html.TextBoxFor(model => model.BENTUK_DESC, new { @class = "form-control", @tabindex = "7", @style = "text-transform: uppercase;", disabled = "disabled" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label">Kemasan<span class="text-red">*</span></label>
                                        <div class="row">
                                            <div class="col-lg-4 col-md-4 col-sm-4">
                                                @Html.DropDownListFor(model => model.KEMASAN, Model.KemasanList, "Please Select", new { @class = "form-control", @tabindex = "8", @required = "required", onchange = " initilize()", @disabled = "disabled" })
                                            </div>
                                            <div class="col-lg-8 col-md-8 col-sm-8">
                                                @Html.TextBoxFor(model => model.KEMASAN_DESC, new { @class = "form-control", @tabindex = "9", @style = "text-transform: uppercase;", disabled = "disabled" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox-footer">
                    <span style="color:red">
                        *
                    </span>
                    harus diisi
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Data Konsumen</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label class="control-label">Nama Konsumen<span class="text-red">*</span></label>
                                @Html.TextBoxFor(model => model.NAMA_KONSUMEN, new { @class = "form-control", @tabindex = "10", @style = "text-transform: uppercase;", @required = "required", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label class="control-label">Alamat Konsumen<span class="text-red">*</span></label>
                                @Html.TextAreaFor(model => model.ALAMAT_KONSUMEN, new { @class = "form-control", @tabindex = "11", @style = "text-transform: uppercase;height:125px", @required = "required", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label class="control-label">Segmen Pasar<span class="text-red">*</span></label>
                                @Html.DropDownListFor(model => model.SEGMEN_PASAR, Model.SegmenPasarList, "Please Select", new { @class = "form-control", @tabindex = "12", @required = "required", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label class="control-label">Contact Person</label>
                                @Html.TextBoxFor(model => model.CONTACT_PERSON, new { @class = "form-control", @tabindex = "13", @style = "text-transform: uppercase;", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label class="control-label">Telephone<span class="text-red">*</span></label>
                                @Html.TextBoxFor(model => model.NO_TELP, new { @class = "form-control", @tabindex = "14", @required = "required", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox-footer">
                    <span style="color:red">
                        *
                    </span>
                    harus diisi
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Data Penjualan</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label class="control-label">Jenis Penjualan<span class="text-red">*</span></label>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        @Html.DropDownListFor(model => model.JENIS_PENJUALAN, Model.JenisPenjualanList, "Please Select", new { @class = "form-control", @tabindex = "15", @required = "required", @onchange = "initilize()", @disabled = "disabled" })
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8">
                                        @Html.TextBoxFor(model => model.JENIS_PENJUALAN_DESC, new { @class = "form-control", @tabindex = "15", @style = "text-transform: uppercase;", @disabled = "disabled" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label class="control-label">Kuantum Penjualan<span class="text-red">*</span></label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-addon">Kg</span>
                                    </div>
                                    @Html.TextBoxFor(model => model.KUANTUM, new { @class = "form-control numeric", @tabindex = "16", @required = "required", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label class="control-label">Lokasi Tujuan kirim<span class="text-red">*</span></label>
                                @Html.TextBoxFor(model => model.LOKASI_KIRIM, new { @class = "form-control", @tabindex = "17", @style = "text-transform: uppercase;", @required = "required", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label class="control-label">Batas Akhir Kirim<span class="text-red">*</span></label>
                                <div class="input-group date" id="BatasKirim">
                                    @Html.TextBoxFor(model => model.BATAS_KIRIM, "{0:dd-MMM-yyyy}", new { @class = "form-control", @tabindex = "18", required = "required", @readonly = "readonly" })
                                    <span class="input-group-addon btn btn-success">
                                        <i class="fa fa-calendar "></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox-footer">
                    <span style="color:red">
                        *
                    </span>
                    harus diisi
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Data Harga dan Pembayaran</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label class="control-label">Cara Pembayaran<span class="text-red">*</span></label>
                                @Html.DropDownListFor(model => model.CARA_PEMBAYARAN, Model.CaraPembayaranList, "Please Select", new { @class = "form-control", @tabindex = "19", @required = "required", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label class="control-label">PPN<span class="text-red">*</span></label>
                                @Html.DropDownListFor(model => model.PPN, Model.PPNList, "Please Select", new { @class = "form-control", @tabindex = "20", @required = "required", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label class="control-label">harga Jual<span class="text-red">*</span></label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-addon">Rp</span>
                                    </div>
                                    @Html.TextBoxFor(model => model.HARGA_JUAL, new { @class = "form-control numeric", @tabindex = "21", @required = "required", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label class="control-label">Harga Loko<span class="text-red">*</span></label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-addon">Rp</span>
                                    </div>
                                    @Html.TextBoxFor(model => model.HARGA_LOKO, new { @class = "form-control numeric", @tabindex = "22", @required = "required", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label class="control-label">Ongkos Kirim</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-addon">Rp</span>
                                    </div>
                                    @Html.TextBoxFor(model => model.ONGKOS_KIRIM, new { @class = "form-control numeric", @tabindex = "23", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox-footer">
                    <span style="color:red">
                        *
                    </span>
                    harus diisi
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Dokumen Pendukung</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label class="control-label">Jenis Dokumen</label>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        @Html.DropDownListFor(model => model.DOKUMEN_PENDUKUNG, Model.DokumenList, "Please Select", new { @class = "form-control", @tabindex = "24", @onchange = "initilize()", @disabled = "disabled" })
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8">
                                        @Html.TextBoxFor(model => model.DOKUMEN_PENDUKUNG_DESC, new { @class = "form-control", @tabindex = "25", @style = "text-transform: uppercase;", @disabled = "disabled" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label class="control-label">Nomer Dokumen</label>
                                @Html.TextBoxFor(model => model.DOKUMEN_NOMOR, new { @class = "form-control", @tabindex = "26", @style = "text-transform: uppercase;", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                    <input id="input-file" name="Fileupload" type="file" data-browse-on-zone-click="true" readonly="readonly">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="control-label">Catatan</label>
                                @Html.TextAreaFor(model => model.CATATAN, new { @class = "form-control", style = "height:200px", @readonly="readonly" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="changes">
        @Html.Partial("_ChangesLog")
    </div>

</div>


@section Styles {
    @Styles.Render("~/plugins/bootstrap-fileinputStyle")
    @Styles.Render("~/plugins/jquery-confirmStyle")
}

@section Scripts {
    
    @Scripts.Render("~/plugins/bootstrap-fileinput")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/autonumeric")
    @Scripts.Render("~/plugins/jquery-confirm")

    <script type="text/javascript">
        var ladda_print = null;
        $(document).ready()
        {
            new AutoNumeric.multiple('.numeric', { unformatOnSubmit: true })

            var fileInputOptions = null;
            var FilePendukung = $('#DOKUMEN_PENDUKUNG_FILE').val();
            if (FilePendukung == '')
            {
                fileInputOptions =
                {
                    showUpload: false,
                    showCancel: false,
                    purifyHtml: true,
                };
            }
            else {
                fileInputOptions =
                {
                    showUpload: false,
                    showCancel: false,
                    showRemove:true,
                    initialPreview: [
                        '<img src="/files_upload/Dokumen/' + FilePendukung + '" class="kv-preview-data file-preview-image">',
                     ],
                    initialPreviewAsData: false, // allows you to set a raw markup
                    initialPreviewConfig: [
                        { caption: "aa.png", url: "/TrnSpb/DeleteFileDokumen", key: 1, initialPreviewShowDelete:false },
                    ]
                };
            }
            $("#input-file").fileinput(fileInputOptions);

            ladda_print = $('.ladda-button-print').ladda();

            initilize();
        }

        $("#BENTUK").change(function () {
            initilize();
        });

        //Print to PDF
        function PrintPDF() {
            ladda_print.ladda('start');
            var id = document.getElementById("ID").value;
            $.ajax({
                url: '@Url.Action("PrintPDF", "TrnDo")',
                type: "POST",
                dataType: "JSON",
                data: { id: id },
                timeout: 20000,
                success: function (response) {
                    if (response != "Error") {
                        ladda_print.ladda('stop');
                        window.location = response;
                    } else {
                        ladda_print.ladda('stop');
                        $.confirm({
                            title: 'Informasi !',
                            content: 'Terjadi Kesalahan <br><br> Hubungi Administrator!',
                            type: 'red',
                            buttons: {
                                Ok: {
                                    btnClass: 'btn-primary text-white',
                                    keys: ['enter'],
                                    action: function () {
                                    }
                                }
                            }
                        });
                    }
                },
                error: function (xmlhttprequest, textstatus, message) {
                    if (textstatus === "timeout") {
                        ladda_print.ladda('stop');
                        $.confirm({
                            title: 'Informasi !',
                            content: 'Timeout Server',
                            type: 'red',
                            buttons: {
                                Ok: {
                                    btnClass: 'btn-primary text-white',
                                    keys: ['enter'],
                                    action: function () {
                                    }
                                }
                            }
                        });
                    } else {
                        ladda_print.ladda('stop');
                        $.confirm({
                            title: 'Informasi !',
                            content: 'Terjadi Kesalahan <br><br> Hubungi Administrator!',
                            type: 'red',
                            buttons: {
                                Ok: {
                                    btnClass: 'btn-primary text-white',
                                    keys: ['enter'],
                                    action: function () {
                                    }
                                }
                            }
                        });
                    }
                }
            });
        }

        function initilize()
        {
            $('#BENTUK_DESC').prop('disabled', true);
            $('#JENIS_PENJUALAN_DESC').prop('disabled', true);

            $('#BENTUK_DESC').prop('required', false);
            $('#JENIS_PENJUALAN_DESC').prop('required', false);

            $('#KEMASAN_DESC').prop('required', false);
            $('#KEMASAN_DESC').prop('required', false);

            var Bentuk = $('#BENTUK').val();
            if(Bentuk == "Lain-Lain")
            {
                $('#BENTUK_DESC').prop('disabled', false);
                $('#BENTUK_DESC').prop('required', true);
            }

            var JenisPenjualan = $('#JENIS_PENJUALAN').val();
            if (JenisPenjualan == "Lain-Lain") {
                $('#JENIS_PENJUALAN_DESC').prop('disabled', false);
                $('#JENIS_PENJUALAN_DESC').prop('required', true);
            }

            var Kemasan = $('#KEMASAN').val();
            if (Kemasan == "Lain-Lain") {
                $('#KEMASAN_DESC').prop('disabled', false);
                $('#KEMASAN_DESC').prop('required', true);
            }
        }
    </script>
}




