@model sistem.manajemen.ppic.website.Models.TrnPengirimanViewModel
@{
    ViewBag.Title = "Pengiriman";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="data-table-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="sparkline13-list">
                    <div class="sparkline13-hd">
                        <div class="main-sparkline13-hd">
                            <h1>&nbsp;</h1>
                        </div>
                    </div>
                    <div class="sparkline13-graph">
                        <div>
                            <div class="add-product">
                                <a href="@Url.Action("Create","TrnPengiriman")">Tambah Pengiriman</a>
                            </div>
                            <table id="table" class="stripe row-border order-column" style="width:100%">
                                <thead>
                                    <tr>
                                        <th style="min-width:30px">No</th>
                                        <th style="min-width:50px">Action</th>
                                        <th style="min-width:100px">Tanggal</th>
                                        <th style="min-width:100px">Surat Jalan</th>
                                        <th style="min-width:150px">No SPB</th>
                                        <th style="min-width:50px">No DO/RIT</th>
                                        <th style="min-width:150px">Pengiriman</th>
                                        <th style="min-width:200px">Nama Konsumen</th>
                                        <th style="min-width:200px">Nama Barang</th>
                                        <th style="min-width:200px">Party</th>
                                        <th style="min-width:200px">Akumulasi</th>
                                        <th style="min-width:200px">Sisa</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ListData.OrderBy(x => x.NO_DO).ToList())
                                    {
                                        <tr>
                                            <td>@Html.Raw(Model.ListData.IndexOf(item) + 1)</td>
                                            <td style="text-align:center;">
                                                @if (Model.CurrentUser.USERNAME == item.CREATED_BY)
                                                {
                                                    <a href="@Url.Action("Edit","TrnDo",new {@id=item.ID})" data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                                }
                                                <a href="@Url.Action("Details","TrnDo",new {@id=item.ID})" data-toggle="tooltip" title="Details" class="pd-setting-ed"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                            </td>
                                            <td>@Html.Raw(item.TANGGAL.ToString("dd MMM yyyy"))</td>
                                            <td>@Html.Raw(item.SURAT_JALAN)</td>
                                            <td>@Html.Raw(item.NO_SPB)</td>
                                            <td>@Html.Raw(item.NO_SPB)</td>
                                            <td>@Html.Raw(item.NO_DO.ToString()+"/"+item.NO_TRUCK)</td>
                                            <td>@Html.Raw(item.JUMLAH)</td>
                                            <td>@Html.Raw(item.NAMA_KONSUMEN)</td>
                                            <td>@Html.Raw(item.NAMA_BARANG)</td>
                                            <td>@Html.Raw(item.PARTY)</td>
                                            <td>@Html.Raw(item.AKUMULASI)</td>
                                            <td>@Html.Raw(item.SISA)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var table = $('#table').DataTable({
                "dom": 'lf<"table-overflow"t>pi',
                orderCellsTop: true,
                scrollY: "300px",
                scrollX: true,
                scrollCollapse: true,
                fixedColumns: true
            });
        });
    </script>
}